body {
}
#four {
    background-color: #2C3E50;
}
#three {
    background-color: #E74C3C;
}
#two {
    background-color: #ECF0F1;
}
#one {
    background-color: #3498DB;
}
#zero {
    background-color: #2980B9;
}