html,body {
    margin: 0 auto;
    padding:0;
	height:100%;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MEZFRkM3QjVCNTcyMTFFMzlCOTRDN0NGQzkyQTE5QjMiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MEZFRkM3QjZCNTcyMTFFMzlCOTRDN0NGQzkyQTE5QjMiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDowRkVGQzdCM0I1NzIxMUUzOUI5NEM3Q0ZDOTJBMTlCMyIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDowRkVGQzdCNEI1NzIxMUUzOUI5NEM3Q0ZDOTJBMTlCMyIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PtYo758AAAAUSURBVHjaYmBgYPBlwAGoKQEQYABNHAGCGLO+bwAAAABJRU5ErkJggg==') /*../images/slider-pattren.png*/;
      font-family: verdana;
    width: 950px;

}
/*layout*/
#wrapper {
	min-height:100%;
	position:relative;
    border: 1px #fff solid;
}
#topBar {
    background-color: #000;
    color: #fff;
    height: 22px;
    padding: 8px;
    font-size: 14px;
    min-width: 550px;
}
#topBar #logoContainer {
   float: left;
}
#topBar #logo {
     width:75px; 
    height:50px;
}
#topBar #companyName {
    float: left;
    padding-left: 5px;
    font-size: 20px;
    font-family: 'Lobster', cursive;
}
#topBar #language {
    width: 180px;
    float: right;
}
/*main navigation*/
nav {
    margin-top: 25px;
    height: 50px;
    background: #cc3300;
    background: rgba(204,51,0,.7);
    padding: 8px;
    overflow:hidden;
    font-size: 16px;
    min-width: 550px;
}
nav a, a:visited, a:link {
    color: #fff;
    text-decoration: none;
}
nav a:hover, a:active {
    color: #ffff00;
}

nav .currentLink {
   color: #000;
}
nav ul {
    text-align: center
}
nav ul li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}
/*main content*/
#content {
    /* Height of the footer element plus margins and paddings */
    /* width of the aside element plus margins and paddings */
    padding: 10px 180px 80px 20px;
    background-color: #fff;
    min-width: 550px;
}
#content h1 {
    font-size: 22px;
    color: #cc3300;
    color: rgba(204,51,0,.7);
    text-shadow: 1px 1px 1px #000;
    font-weight: 500;
}
#content h2 {
    font-size: 18px;
    color: #ff6a00;
    text-shadow: 1px 1px 1px #000;
    font-weight: 500;
}
#content #imgIndoorCourt, #content #imgOutdoorCourt {
    width: 150px;
    height: 90px;
}
#racquetballModes li{
    border:1px solid rgba(204,51,0,.4);
    width: 305px;
    margin-right: 20px;
    height: 220px;
    padding: 10px;
    border-radius: 10px;
    vertical-align: middle;
    display: inline-block;
    list-style-type: none;
    position: relative;
    min-height: 220px;
}
aside {
    float: right;
    background: #cc3300;
    background: rgba(204,51,0,.7);
    position: absolute; 
    right: 20px;
    width: 150px;
    height: 250px;
    text-align: center;
    border-radius: 4px;   
    box-shadow: inset 0 0 1em #ffdb00, 0 0 1em #fc0303;
}
#asideRacquets {
     top: 145px;
}
#asideTournaments {
    top: 430px;
}
#asideTournaments h3 {
    font-size: 14px;
}
aside h3 {
    color: #fff;
    margin-bottom: 2px;
}
aside h4 {
    margin-top: 0;
    color: #ebe7e7;
    font-size: small;
}
aside ol {
    text-align: left;
}
aside #tournamentList {
    padding: 0 0 0 30px;

}
aside a {
    color: #fff;
    text-decoration: none;
}

aside a:hover {
     color: #ffff00;
}
aside li {
    color: #ffff00;
}

#articles {
    list-style-type: none;   
}
#articles a {
    text-decoration: none;
    color: #ff6a00;
}
figure {
    text-align: center;
    position: absolute;
    bottom: 0;
    padding-left: 35px;
}
figure a {
    border-radius: 4px;
    border: solid 3px #000;
    display: inline-block;
}
figure a:hover {
    border-color:#ff6a00
}
figcaption {
    font-style: oblique;
    line-height: 1.5;
}
footer {
    background-color: #000;
    color: #fff; 
    min-width: 550px;
    height: 50px;
    padding: 8px;
    text-align: center;
    font-size: 12px;
    position:absolute;
    bottom:0;
    left: 0;
    right: 0;
}
footer a {
    color: #fff;
    text-decoration: none;
}

footer ul li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}
#mainSection {
    min-height: 300px;
}
/*to top navigation*/
.top {  
    position: absolute;
    bottom: 70px;
    left: 20px;
}
.top a {
    text-decoration: none;
    color: #cc3300;
    color: rgba(204,51,0,.7);
}
hr {
    border: 0;
    height: 0;
    border-top: 1px solid #cc3300;
    border-top: 1px solid rgba(204,51,0,.7);
    border-bottom: 1px solid #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
/*image lightbox*/
.lightbox {
    /** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
    background: #000000;
    background: rgba(0,0,0,0.8);
}

.lightbox img {
	/** Pad the lightbox image */
	max-width: 90%;
	max-height: 80%;
	margin-top: 2%;
    border: 8px solid #ff6a00;
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}
/*others*/
q {
    font-style: italic;
}
li {
    list-style-type:circle;
    color: #058505;
}
/*text effects*/
.white-with-yellow-shadow {
   text-shadow: 1px 1px 2px #f80816, 0 0 1em #fff, 0 0 0.2em #ffff00;
   color: #fff;
}
.blue-shadow {
   text-shadow: 1px 1px 2px #000, 0 0 1em rgb(0,0,255), 0 0 0.2em rgb(0,0,255);
   color: #fff;
}
/*paper shadow*/
.paperShadow
{
    position:relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.paperShadow:before, .paperShadow:after
{
    content:"";
    position:absolute;
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    border-radius:100px / 10px;
}
.paperShadow:after
{
    right:10px;
    left:auto;
    transform:skew(8deg) rotate(3deg);
}
.Boxes{
    box-shadow: 0 10px 6px -6px #777;
}