body {
	font-size: 80%;
	font-family: Arial, Verdana, or sans-serif;
	letter-spacing: 0.15em;	
	background-color: #efefef;
	}
#contact_content {
    width: 350px;
    margin: 20px auto;
}
fieldset {
    width: 310px;
    margin-top: 20px;
    border: 1px solid #fff;
}
fieldset legend {
    font-style: italic;
}
.title {
    float: left;
    width: 150px;
    clear: left;
}
input {
    width: 120px;
    border: 1px solid #d6d6d6;
    padding: 2px;
}
input:hover, input:focus {
    background-color: #d0e2f0;
    border: 1px solid #999999;
}
div#submit {
    width: 310px;
    text-align: right;

}

#gallery_content {
    width: 500px;
    margin: 20px auto;
    overflow: auto;
}
.entry {
    font-size: 0.7em;
    width: 220px;
    height: 220px;
    float: left;
    margin-right: 10px;
    background: url("../images/shadow.png") no-repeat bottom;
}
figure {
    width: 202px;
    height: 193px;
    margin: 0;
    padding: 9px;
    background-color: #e7e3d8;
}
figure img {
    width: 200px;
    height: 150px;
    border: 1px solid #8c9c9e;
}
figcaption {
    padding-top: 5px;
    padding-left: 20px;
    background: url("../images/icon.png") no-repeat;
}
#navigation {
	list-style-type: none;
	text-align: center;
    width: 625px;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    padding: 15px;
    margin: 0 auto;
    
	}
#navigation li {
    margin: 0 3px;
    display: inline;
}
#content {
    width: 600px;
    margin: 20px auto;
    overflow: auto;
	}
#content img {
    float: left;
    padding: 0 20px 20px 0;
}
#column1of2, #column2of2 {
    width: 280px;
    margin-right: 10px;
    float: left;
}
h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 1.33em;
}
	
h3 {
    font-size: 1.25em;
}
a {
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	}
	
a:hover, a#current-page {
	color: #cc3333;
	background-color: #ffffff;
	}
#page {
    width: 960px;
    border: 4px double #000;
    padding: 20px;
    margin: 10px auto;
}
#logo {
    width: 303px;
    margin: 10px auto 25px;
}
th {
    text-align: left;
}
th, td {
    padding: 5px 30px 5px 10px;
    font-size: 0.9em;
    margin: 0;
    background-color: #e0e9f0;
    border-top: 1px solid #f1f8fe;
    border-bottom: 1px solid #cbd2d8;
    border-right: 1px solid #cbd2d8;
    text-shadow: 1px 1px 1px #fff;
}
th, td .even{
    background-color: #e8eff5;
}